.logo{
    height: 43px;
    width: 53px;
}

// Design do card de Perfil

.prof-card {
    width: 60%;
    margin: auto;
    background: rgb(29,220,123);
    background: linear-gradient(0deg, rgba(29,220,123,1) 0%, rgba(2,0,36,1) 100%);
}

.prof-img {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px #000000;
}

h1 b {
    color: #FFF;
}

// Design do SVG

// Estava dando erro de layout
.custom-shape-divider-top-1617075690 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


.custom-shape-divider-top-1617075690 svg {
    position: relative;
    display: inline-block;
    width: calc(252% + 1.3px);
    height: 300px;
}

.custom-shape-divider-top-1617075690 .shape-fill {
    fill: #1DDC7B;
    animation: anim 3s ease-in-out infinite alternate;
}

// Animação basica precisa melhorar --Jonathan

@keyframes anim{

    from{
        transform: translate(-150px);
    }

}
