img{
    height: 43px;
    width: 53px;
}

// Design do SVG


// Estava dando erro de layout
.custom-shape-divider-top-1617075690 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


.custom-shape-divider-top-1617075690 svg {
    position: relative;
    display: inline-block;
    width: calc(252% + 1.3px);
    height: 300px;
}

.custom-shape-divider-top-1617075690 .shape-fill {
    fill: #1DDC7B;
    animation: anim 3s ease-in-out infinite alternate;
}

// Centralização e design da lista de perfis

.profile-item {
    width: 50%;
    margin: 0 auto 5px auto;
}

.profile-item a {
    color: white;
}

// Animação basica precisa melhorar --Jonathan

@keyframes anim{

    from{
        transform: translate(-150px);
    }

}
