<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="custom-shape-divider-top-1617075690">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
</ion-content>

<ion-grid>
  <ion-row justify-content-center align-items-end style="height:100%">
       <ion-col col-12>
        <ion-item *ngFor="let item of items" style="border-radius: 10px;">
          <ion-avatar slot="start">
            <img class="" src="https://firebasestorage.googleapis.com/v0/b/imobzi-app-production.appspot.com/o/users%2F8SwANwvDjaRXImIcFY8WjahEdFs2%2Fprofile-photo?alt=media&token=0109cd8b-50bf-475f-9479-5cc05e832971">
          </ion-avatar>
          <a href="/home">{{item.name}}</a>
        </ion-item>
       </ion-col>
  </ion-row>
</ion-grid>

<ion-grid >
  <ion-row justify-content-center align-items-end style="height:100%">
       <ion-col col-12>
         <ion-button class = "button" class="ion-color ion-color-success" (click) = "showModal()"><b>Se cadastrar</b></ion-button>
       </ion-col>
  </ion-row>
</ion-grid>