<ion-header>
  <ion-toolbar class="ion-text-center" color="success">
    <img class="logo" src="assets/logo.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Animação SVG (background) -->
  <div class="custom-shape-divider-top-1617075690">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"></path>
    </svg>
    
    <ion-grid>
      <!-- Card do perfil -->
      <ion-row justify-content-center align-items-end style="height:100%;">
        <ion-col col-12 class="ion-text-center">
            <ion-card class="prof-card" *ngFor="let item of items">
              <ion-card-content>
                <a style="text-decoration: none;" [routerLink] = "['/home', item.name]"><img class="prof-img" [src] = "item.imag"></a>
                <ion-card-header style="margin: 20px auto auto" class="ion-no-padding">
                  <a style="text-decoration: none;" [routerLink] = "['/home', item.name]"><h1><b>{{item.name}}</b></h1></a>
                </ion-card-header>
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>

      <!-- Botão de cadastro (permite apenas um usuário)-->
      <ion-row *ngIf="trackSign === true" justify-content-center align-items-end style="height:100%;">
        <ion-col col-12 class="ion-text-center">
          <ion-button style="margin-top: 50px;" class="ion-color ion-color-success" fill="outline" (click)="showModal()"><b>Cadastre-se</b>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <b><p style="height: 0cm; font-size: 11px;">© 2021 RendApp | Todos os direitos reservados </p></b>
  </ion-toolbar>
</ion-footer>