.ml-auto{
    margin-left: 170px;
};

.ion-icon{
    font-size: 32px;
    margin-right: 6px;
}

.status {
    margin: 2px 0 0 2px;
}

.voucher{
    margin-left: 147px;
    font-size: 11px;
}

.voucherImag{
    max-width: 75px;
    margin-left: 240px;
}

.voucher-img {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px #000000;
}
