<ion-header>
  <ion-toolbar color="success">
       <ion-subtitle class = "ion-subtitle"><strong>Descrição dos Icones</strong></ion-subtitle>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-icon name="alert" color="danger"></ion-icon>
  <p>Fatura vencida</p>
</ion-item>

<ion-item>
  <ion-icon name="time" color="warning"></ion-icon>
  <p>Fatura pendente</p>
</ion-item>

<ion-item>
  <ion-icon name="checkmark-circle" color="success"></ion-icon>
  <p>Fatura paga</p>
</ion-item>

<p class = "help">
  <b>
    Arraste para esquerda ou direita na fatura para mais opções.
  </b>
</p>

<p>
  <i>
    Clique fora da tela para sair
  </i> 
</p>




