<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/visualizar-fatura">
      </ion-back-button>
    </ion-buttons>
    <ion-title><strong>Editar Fatura</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Alterar Titulo</ion-label>
    <ion-input value = "xxx"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Alterar Valor</ion-label>
    <ion-input value = ""></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Alterar Vencimento</ion-label>
    <ion-input value = "xxx"></ion-input>
  </ion-item> 

</ion-content>