<ion-header>
  <ion-toolbar color="success">
    <ion-icon class="ion-float-left arrow" name="arrow-back" (click)="close()"></ion-icon>
    <ion-title><strong>Configurações</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <img style="width: 30%; display: block; margin: 20px auto; border-radius: 100%;" [src]="image">
    <!-- https://ionicframework.com/docs/demos/api/avatar/avatar.svg -->
  <ion-button (click) = getPhoto()>Alterar foto</ion-button>
  </div><br>
  

  <ion-list>
    <ion-item>
      <ion-label class="dark-mode">
        Modo Noturno
        <ion-icon name="contrast-outline" class="temaicon"></ion-icon>
      </ion-label>

      <label class="switch ion-float-right">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </ion-item>

    <ion-item>
      <ion-label>
        Alterar nome
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Exibir ajuda
      </ion-label>
      <label class="switch ion-float-right">
        <input type="checkbox" checked="checkBox">
        <span class="slider round"></span>
      </label>
    </ion-item>
  </ion-list>

  <div class="ion-text-center">
    <ion-button (click)="delConta()" color="danger"> Deletar Conta </ion-button>
  </div>

</ion-content>