<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      <strong>Dashboard</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="dashboard">
    <!-- to do Renault -->
  </div>
  
  <ion-toolbar>
    <ion-slides [options]="slidesOptions">
      <ion-slide *ngFor="let option of options">
        <div class="container">
            <a [routerLink] = "option.url" >{{ option.name }}</a>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
    <ion-title id="preview">
      <strong>ÚTILMOS GASTOS</strong>
    </ion-title>
    <ion-item-sliding *ngFor="let invoice of invoices"> 
      <ion-item>
        <ion-label text-wrap>
          <h3>{{invoice.title}}</h3>
          <ion-text color="secondary">
            <p>{{invoice.value}}</p>
          </ion-text>
          <!-- <ion-text>
            <p>{{invoice.dueDate}}</p>
          </ion-text> -->
        </ion-label>
      </ion-item>
    </ion-item-sliding>
</ion-content>
