<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      <strong>Dashboard</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- to do Renault -->
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="primary">
    <ion-slides [options]="slidesOptions">
      <ion-slide *ngFor="let option of options">
        <div class="container ion-text">
          <a [routerLink] = "option.url" >{{ option.name }}</a>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>
