<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      <strong>Dashboard</strong>
    </ion-title>

    <ion-icon slot="end" class="ion-padding" style="color: #ffffff;" name="settings-sharp" (click) = "showModal()"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="dashboard">
    <div class="ion-padding">
      <h2 class="ion-no-margin"><strong>Bem Vindo, [user] !</strong></h2>
      <ion-card>
        <ion-card-content>

          <ion-card-header class="ion-no-padding">

            <h2><strong>Saldo Disponível</strong></h2>
            
          </ion-card-header>

          
            <ion-slides class="fundograph">
              
                <circle-progress
                [percent]= "renda"
                [radius]="60"
                [title]="'5000' | currency "
                [titleFontSize]= "'15'"
                [titleColor]="'#000000'"
                [subtitle]="'Saldo'"
                [subtitleColor]="'#000000'"
                [showUnits]="false"
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
              
                ></circle-progress>
              
              <circle-progress
              [percent]="85"
              [radius]="60"
              [showTitle]="false"
              [showSubtitle]="false"
              [showUnits]="false"
              [showInnerStroke]="false"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="5"
              [outerStrokeColor]="'#da0101'"
              [animation]="true"
              [animationDuration]="300"
              ></circle-progress>
            </ion-slides>
          

        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-card>
    <ion-title id="preview">
      <strong>ÚTILMOS GASTOS</strong>
    </ion-title>
    <ion-item-sliding *ngFor="let invoice of invoices">
      <ion-item>
        <ion-label text-wrap>
          <h3>{{invoice.title}}</h3>
          <ion-text color="secondary">
            <p>{{invoice.value | currency:'BRL':true:'1.0-0'}}</p>
          </ion-text>
          <ion-text *ngIf="invoice.dueDate < today" color="danger">
            <p>Vencida</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-card>
</ion-content>

<ion-toolbar>
  <ion-slides [options]="slidesOptions">
    <ion-slide *ngFor="let option of options" [routerLink]="option.url">
      <ion-icon [name]="option.icon"></ion-icon>
      <div class="container">
        <span>{{ option.name }}</span>
      </div>
    </ion-slide>
  </ion-slides>
</ion-toolbar>