#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

// Design da dashboard

#dashboard {
  height: 60%; // tamanho da dashboard
  background-color: #1DDC7B;
}

// Design dos slide - texto

.container {
  margin: auto;
}

.container a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

// Design dos slide - lista

ion-slides {
  background-color: #1DDC7B;
}

ion-slide {
  width: 100%;
  height: 100px;
  //background-color: #1DDC7B;
  background-color: white;
  padding: 10px;
  margin: 0px 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

ion-button {
  color: black;
  background: black;
}


// Design do preview

#preview {
  height: 35px;
  color: #8c8c8c;
  font-size: 0.7rem;
  background-color: #dce6e1;
}

.custom-shape-divider-bottom-1617075261 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1617075261 svg {
  position: relative;
  display: block;
  width: calc(143% + 1.3px);
  height: 195px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1617075261 .shape-fill {
  fill: rgb(29,220,123);
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1617075261 svg {
      width: calc(194% + 1.3px);
      height: 500px;
  }
}
