<ion-header>
  <ion-toolbar color="success">
    <ion-title><strong>Excluir perfil</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 100%;">
    <p style="text-align: justify; font-size: 13px; padding: 0 10px 0 10px">Tem certeza que deseja excluir <b>permanetemente</b> seu perfil e dados associados?</p>
  </div>
  <div style="margin-bottom: 20px;" class="ion-text-center">
    <ion-button color="primary" (click)="delete()">Sim</ion-button>
    <ion-button color="primary" (click)="close()">Não</ion-button>
  </div>
</ion-content>
